            <h2>Welcome to fediverse.express!</h2>
            
            <b>fediverse.express</b> sets up Fediverse instances with minimum knowledge. Right now you can set up a <a href="https://misskey.page/" target="_blank">Misskey</a> instance using only your browser. We plan to add more software as this service grows.

            <div style="background-color: rgba(255, 0, 0, 0.3); padding: 1em; margin-top: 1em;">
                <b>fediverse.express is alpha-quality software.</b> While I have tested it extensively and have no reason to believe that it won't work for you, there are things missing and there may be bugs and other issues that prevent it from being stable. If you come across any problems, please let us know.
            </div>

            <h2>What is the fediverse?</h2>
            
            The <i>fediverse</i> is an interconnected network of social media Web sites that communicate using an open, common protocol. Like Twitter or Facebook, you can write statuses (posts/toots), follow others, like (favorite) and share (boost/repeat) others' posts. The fediverse is not controlled by Big Tech or its algorithms, so it is more democratic and censorship-resistant.<br><br>

            You can read more about the Fediverse <a href="/">here</a>.

            <h2>Do I need to start my own instance to use the fediverse?</h2>

            No. Feel free to join some of the instances that already exist. Regardless of which server you join, you can follow nearly anyone on the Fediverse from your instance. However, you are at the mercy of your instance's admin, though it is just as easy to join another instance if you do not like how it is run. Here are some instance recommendations:
            
            <ul>
                <li>
                    Mastodon: <a href="https://mastodon.online/">mastodon.online</a>, <a href="https://mstdn.social/">mstdn.social</a>, and <a href="https://koyu.space">koyu.space</a>
                </li>
                <li>
                    Pleroma: <a href="https://shitposter.club/">shitposter.club</a>, <a href="https://fedi.absturztau.be">fedi.absturztau.be</a>, and <a href="https://cdrom.tokyo">cdrom.tokyo</a>
                </li>
                <li>
                    Misskey: <a href="https://cliq.social/">cliq.social</a>
                </li>
            </ul>


            <h2>Is this the only way to run my own instance?</h2>

            No. fediverse.express is not the only service that allows you to create your own instance; how you set up your instance is up to you. If you're technically-savvy and aren't afraid of the command line, you can set up your instance yourself, or you can use a semi-managed service like ours. While fediverse.express was built with the aim that you should have full control over the system that runs your service, <a href="https://masto.host/">masto.host</a>, <a href="https://cofespace.com/">CofeSpace</a>, and <a href="https://tribes.host/">Tribes</a> are other options that trade control for convenience.

            <h2>Get started</h2>

            Here's what you'll need to get started:

            <ul>
                <li>A domain name ($10~30 per year, depending on suffix). While we don't automate this (yet), we will give you instructions on how to set it up. (fediverse.express may be able to provide a subdomain for you under limited circumstances, though this option is less censorship-resistant. Please email us for more information.)</li>
                <li>Up to $20 per month</li>
                <li>A half hour to set everything up</li>
            </ul>

            ...and that's it. No indepth technical knowledge required.

            <br><br>

            To start, create an account with a cloud provider. Using our referral links to register may grant you free months of service and helps this site.
            <ul>
                <li>
                    <a href="https://m.do.co/c/d56038671ecc">DigitalOcean</a> ($10/mo, 2GB RAM, 1 vCPU, 50 GB SSD) - 2 months free with referral.
                </li>
                <li>
                    <a href="https://aws.amazon.com/">Amazon Web Services</a> (t3.small: $15.26 + 2.40/mo, 2GB RAM, 1 vCPU, 30 GB SSD) - free storage with Free Tier for a year.
                </li>
            </ul>
            
            Then, choose your cloud provider below to log in:
            <ul>
                <li>
                    <a href="/login/digitalocean">DigitalOcean</a>
                </li>
                <li>
                    <a href="/login/aws">Amazon Web Services</a>
                </li>
            </ul>