        Before we begin configuring Misskey, we must set up a cloud server. This is essentially a piece of a computer in a datacenter.<br><br>

        Ensure that you are connected to the cloud hosting account that you would like to use to manage your instance. If you are unsure, click the "Logout" button below and log in again.<br><br>

        Once you are ready to provision your cloud server, click "Provision Now," below. This may incur charges against your cloud hosting account, so only do so when you are ready.<br><br>

        <form action="" method="POST">
            <input type="submit" value="Provision Now" />
        </form>