        Your server has been provisioned. Now, you'll set up your domain to work with your newly-provisioned server.<br><br>

        In short: <b>set your domain's DNS records to <i>A %s</i> and <i>AAAA %s</i>.</b>

        <h2>What does that mean?</h2>
        In very, very short terms, "DNS records" hold information that can link domains to places on the Internet. What you will be doing now is essentially linking your domain to your server.

        <h2>How do I do that?</h2>
        It's usually a very simple process. See below for instructions with your domain provider. Ensure that you are modifying the record called "<b>@</b>" (or the <i>apex record</i>), if applicable.

        <ul>
            <li>
                <a href="https://www.namecheap.com/support/knowledgebase/article.aspx/319/2237/how-can-i-set-up-an-a-address-record-for-my-domain/">Namecheap</a>
            </li>
            <li>
                <a href="https://www.godaddy.com/help/add-an-a-record-19238">GoDaddy.com</a>
            </li>
            <li>
                <a href="https://www.epik.com/support/knowledgebase/nameservers-dns-records/">Epik</a>
            </li>
        </ul>

        Once you have done this, wait a few minutes, enter your domain name in the text area below, and then click the "Verify my domain" button. We will check that you have done this correctly, and if so, offer you the option to install Misskey.

        <h2>I need help!</h2>
        Please e-mail us using the address at the bottom of the page and we'll be happy to help.

        <br><br>

        <h2>Verify your domain</h2>
        <form action="" method="POST">
            <input type="text" name="Hostname" placeholder="fediverse.express" /> <input type="submit" value="Verify my domain" />
        </form>